﻿@model IPublishedContent
    
@{
    List<string> heading = new List<string>();
    if (Model.HasValue("heading"))
    {
        heading = Model.GetPropertyValue<string[]>("heading").Where(s => !string.IsNullOrWhiteSpace(s)).Distinct().ToList();
    }

    string subHeading = "";
    if (Model.HasValue("subHeading"))
    {
        subHeading = Model.GetPropertyValue("subHeading").ToString();
    }

    List<string> body = new List<string>();
    if (Model.HasValue("body"))
    {
        body = Model.GetPropertyValue<string[]>("body").Where(s => !string.IsNullOrWhiteSpace(s)).Distinct().ToList(); ;
    }
    string linkText = "";
    if (Model.HasValue("linkText"))
    {
        linkText = Model.GetPropertyValue("linkText").ToString();
    }
    string linkAddress = "";
    if (Model.HasValue("linkAddress"))
    {
        linkAddress = Model.GetPropertyValue("linkAddress").ToString();
    }
    string cssClass = "";
    if (Model.HasValue("boxType"))
    {
        cssClass = library.GetPreValueAsString(Model.GetPropertyValue<int>("boxType"));
    }

    if (Model.HasValue("hoverImage") && System.IO.File.Exists(Server.MapPath(Model.GetPropertyValue<string>("hoverImage"))))
    {
        string hoverImage = Model.GetPropertyValue("hoverImage").ToString();

        <div class="@cssClass">
            <div class="home-rollover-image">
                <img src="@hoverImage" alt="" />
                <div class="keyline"></div>
            </div>
            <div class="home-rollover-content">
                <div class="home-offer">
                    <h2>
                        @{
                            int numItems = heading.Count;
                            int i = 0;

                            foreach (string line in heading)
                            {
                                @(++i < numItems ? Html.Raw(line + "</br>") : Html.Raw(line))
                            }
                        }
                    </h2>
                    <div class="divider"></div>
                    @if (subHeading != "")
                    {
                        <p><em>@subHeading</em></p>
                    }
                    <p>
                        @{
                            int bodyItems = body.Count;
                            int j = 0;

                            foreach (string line in body)
                            {
                                @(++j < bodyItems ? Html.Raw(line + "</br>") : Html.Raw(line))
                            }
                        }
                        @* For over a century our food has played a pivotal role in establishing The Goring as one of London’s finest five star luxury hotels.*@
                    </p>
                    <a href="@linkAddress">@linkText</a>
                </div>
            </div>
        </div>
    }
    else
    {
     <div class="@cssClass">
         <h2>
             @{
                 int numItems = heading.Count;
                 int i = 0;

                 foreach (string line in heading)
                 {
                     @(++i < numItems ? Html.Raw(line + "</br>") : Html.Raw(line))
                 }
             }
         </h2>
         <div class="divider"></div>
         @if (subHeading != "")
         {
             <p><em>@subHeading</em></p>
         }
         <p>
             @{
                 int bodyItems = body.Count;
                 int j = 0;

                 foreach (string line in body)
                 {
                     @(++j < bodyItems ? Html.Raw(line + "</br>") : Html.Raw(line))
                 }
             }
         </p>
         @if (linkAddress != "" && linkText != "")
         {
             <a href="@linkAddress">@linkText</a>
         }
     </div>
    }
}
