﻿@using ClientDependency.Core
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="main-slider flexslider cf">
    <ul class="slides">
        @if (Model.Content.HasValue("homeSliderFolder"))
            {
                /*Next line of code will give us the Media Folder ID for our Slider*/
                var mediaFolderId = Model.Content.GetProperty("homeSliderFolder").Value;
                /*Now we are ready to grab our whole folder with the slider items*/
                var mediaFolder = Umbraco.TypedMedia(mediaFolderId);
                /*Finally, we prepared everything to get the whole collections of slider items*/
                var allSliderItems = mediaFolder.Children(x => x.DocumentTypeAlias == "SliderItem").ToList();
                if (allSliderItems.Count != 0)
                {
                    foreach (var sliderItem in allSliderItems)
                    {
                        string header = "";
                        if (sliderItem.HasValue("header"))
                        {
                            header = sliderItem.GetPropertyValue("header").ToString();
                        }
                        string bgImage = "";
                        if (sliderItem.HasValue("image") && System.IO.File.Exists(Server.MapPath(sliderItem.GetPropertyValue<string>("image"))))
                        {
                            bgImage = sliderItem.GetPropertyValue("image").ToString();
                        }

                        string text = "";
                        if (sliderItem.HasValue("text"))
                        {
                            text = sliderItem.GetPropertyValue("text").ToString();
                        }
                        string cssClass = "";
                        if (sliderItem.HasValue("textPosition"))
                        {
                            cssClass = Umbraco.GetPreValueAsString(sliderItem.GetPropertyValue<int>("textPosition"));
                        }

                        <li class="@cssClass">
                       
                            <img src="@bgImage" alt=""/>

                            <div class="keyline"></div>
                            <div class="flex-caption">
                                <div class="main-caption">
                                    <p class="flex-caption-header">@Html.Raw(header)
                                        @*One <em>hundred</em> years*@
                                    </p>
                                    <p>
                                        @text
                                        @*Through four generations of the Goring family the hotel has come to deliver some of the finest personal service in the world*@
                                    </p>
                                </div>
                            </div>
                        </li>    
                }
            }
        }

    </ul>
</div>
