﻿@using ClientDependency.Core
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@if (Model.Content.HasValue("homeBoxFolder"))
{
    /*Next line of code will give us the Media ID for our Box Folder*/
    var mediaFolderId = Model.Content.GetProperty("homeBoxFolder").Value;
    /*Now we are ready to grab our whole folder with the box items*/
    var mediaFolder = Umbraco.TypedMedia(mediaFolderId);
    /*Finally, we prepared everything to get the whole collections of box items*/
    var allBoxItems = mediaFolder.Children(x => x.DocumentTypeAlias == "HomeBoxItem").ToList();
    if (allBoxItems.Count != 0)
    {
        <div class="home-content-panels cf">
            @foreach (var boxItem in allBoxItems.Where(x => Umbraco.GetPreValueAsString(x.GetPropertyValue<int>("row")) == "First"))
            {
                Html.RenderPartial("HomeBoxDetailsPartial", boxItem);
            }
        </div><!-- /.home-content-panels -->

        <div class="home-content-panels second-row cf">
            @foreach (var boxItem in allBoxItems.Where(x => Umbraco.GetPreValueAsString(x.GetPropertyValue<int>("row")) == "Second"))
            {
                Html.RenderPartial("HomeBoxDetailsPartial", boxItem);
            }
        </div><!-- /.home-content-panels -->
    }
}

