﻿@model List<Umbraco.Core.Models.IPublishedContent>

<div class="offers-grid">
    <input type="text" id="pageSize" name="pageSize" value="6" hidden />
    @if (Model != null)
    {
        foreach (IPublishedContent item in Model)
        {
            <div class="offer-item">
                <h2>@item.Name</h2>
                @{
                    string subHeading = "";
                    if (item.HasValue("subHeading"))
                    {
                        subHeading = item.GetProperty("subHeading").Value.ToString();
                    }
                    <h3>@subHeading</h3>

                    string summary = "";
                    if (item.HasValue("summary"))
                    {
                        summary = item.GetProperty("summary").Value.ToString();
                    }
                    <p><span><span>@summary</span></span></p>
                }
                <a href="@item.Url" class="offer-item-link">Click here for details</a>
            </div>
        }
    }
</div><!-- /.main-content -->
<ul class="pagination">
    @{
        int pageNumber = Convert.ToInt32(TempData["pageNumber"]); //Real number

        if (pageNumber > 0 && TempData["currentPage"] != null && Convert.ToInt32(TempData["currentPage"]) > 1)
        {
            <li><a name="@(Convert.ToInt32(TempData["currentPage"])-1)" class="btnOffersPager" href="#">&laquo;</a></li>
        }
        for (int i = 1; i <= pageNumber; i++)
        {
            var temp22 = TempData["currentPage"];

            if (Convert.ToInt32(TempData["currentPage"]) != i)
            {
                string id = "p" + i;
                <li><a id="@id" name="@i" class="btnOffersPager" href="#"> @i </a></li>
            }
            else
            {
                string id2 = "p" + i;
                <li class="active"><a class="btnOffersPager" id="@id2" name="@i" href="#"> @i </a></li>
            }
        }
        if (pageNumber > 1 && Convert.ToInt32(TempData["currentPage"]) < pageNumber)
        {
            int name = 2;
            if (TempData["currentPage"] != null)
            {
                name = (Convert.ToInt32(TempData["currentPage"]) + 1);
            }
            <li><a name="@name" class="btnOffersPager" href="#">&raquo;</a></li>
        }
    }
</ul>

