﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{ Html.RenderPartial("HomeSliderPartial");}

<div id="home-content">
    @{
        string homeTitle = "";
        if (Model.Content.HasValue("homeTitle"))
        {
            homeTitle = Model.Content.GetProperty("homeTitle").Value.ToString();
        }
    }
    <div id="home-title">
        <h1><span>@Html.Raw(homeTitle)</span></h1>
        @*Our Hotel <em>in</em> London&rsquo;s Belgravia*@
    </div>

   @{ Html.RenderPartial("HomeBoxesPartial");}

</div><!-- /#home-content -->
