﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>The Goring</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="/css/goring.css"/>

</head>
<body>
    <div id="wrapper">
        <div id="header">

            <div id="logo">
                <a href="/"><img src="/images/logo.jpg" alt="The Goring" /></a>
            </div>

            <div id="nav-container">
                <div id="primary-nav-container">
                    <ul id="primary-nav">
                        <li><a href="/">Home</a></li>
                        <li class="current">
                            <a href="/the-goring">The Goring</a>
                        </li>
                        <li>
                            <a href="/our-offers">Our Offers</a>
                        </li>
                        <li>
                            <a href="/our-offers">Our Suites</a>
                        </li>
                        <li>
                            <a href="/our-offers">Our Rooms</a>
                        </li>
                        <li>
                            <a href="/">Location</a>
                        </li>
                        <li>
                            <a href="/the-goring">Dining</a>
                        </li>
                        <li>
                            <a href="/the-goring">Events</a>
                        </li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>

                <div id="check-avail">
                    <a href="#" id="check-avail-toggle">Book <span>a</span> stay</a>
                    <div id="check-avail-form">
                        <form action="https://gc.synxis.com/rez.aspx" method="get" target="_blank">
                            <input type="hidden" name="Hotel" value="15601" />
                            <input type="hidden" name="Chain" value="6386" />
                            <input type="hidden" name="locale" value="en-gb" />
                            <input type="hidden" name="start" value="availresults" />
                            <input type="hidden" name="adult" value="2" />
                            <input type="text" id="arrive" name="arrive" readonly="readonly" />
                            <input type="text" id="depart" name="depart" readonly="readonly" />
                            <div class="check-avail-button">
                                <input type="submit" id="check-avail-submit" value="Check Availability" />
                            </div>
                            <div class="check-avail-button">
                                <a href="#">Make an enquiry</a>
                            </div>
                            <p>Call our team: +44 (0) 20 7396 90005</p>
                        </form>
                    </div>
                </div><!-- /#check-avail -->
            </div><!-- /#nav-container -->
        </div><!-- /#header -->

        @RenderBody()

        <div id="footer">
            <div id="footer-left-nav">
                <ul>
                    <li><a href="#">Hotel Brochure</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Media Hub</a></li>
                    <li><a href="#">Awards</a></li>
                </ul>
            </div>

            <div id="footer-icons">
                <ul id="footer-icons-awards">
                    <li><img src="/images/icon-relais-chateaux.png" /></li>
                    <li><img src="/images/icon-by-appointment.png" /></li>
                    <li><img src="/images/icon-pride-of-britain.png" /></li>
                </ul>
                <ul id="footer-icons-social">
                    <li><a target="_blank" href="#"><img src="/images/icon-google.png" /></a></li>
                    <li><a target="_blank" href="#"><img src="/images/icon-linkedin.png" /></a></li>
                    <li><a target="_blank" href="#"><img src="/images/icon-facebook.png" /></a></li>
                    <li><a target="_blank" href="#"><img src="/images/icon-tripadvisor.png" /></a></li>
                    <li><a target="_blank" href="#"><img src="/images/icon-twitter.png" /></a></li>
                </ul>
            </div>

            <div id="footer-right-nav">
                <ul>
                    <li><a href="#">Travel Professionals</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Villa Iduzkia</a></li>
                </ul>
            </div>


        </div><!-- /#footer -->

        <div id="footer-legal-nav">
            <ul>
                <li>&copy; The Goring 2015</li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Legal &amp; Privacy</a></li>
            </ul>
        </div>

</div><!-- /#wrapper -->

    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <script src="/scripts/jquery.flexslider-min.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>
