﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


<div class="main-content body one-column cf">
    @{
        string heading = "";
        if (Model.Content.HasValue("heading"))
        {
            heading = Model.Content.GetProperty("heading").Value.ToString();
        }
        <h1>@heading</h1>

        string introText = "";
        if (Model.Content.HasValue("introductionText"))
        {
            introText = Model.Content.GetProperty("introductionText").Value.ToString();
        }
        <p>@introText</p>
    }
   
   
</div>
<!-- /.main-content -->
<div id="offersList">
    @{ Html.RenderAction("GetOffersByPageNumber", "Offer", new { pn = 1, pageSize = 6 }); }
</div>