﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="main-content body two-columns cf">
        @{
            string subHeading = "";
            if (Model.Content.HasValue("subHeading"))
            {
                subHeading = Model.Content.GetProperty("subHeading").Value.ToString();
            }
            string image = "";
            if (Model.Content.HasValue("image") && System.IO.File.Exists(Server.MapPath(Model.Content.GetPropertyValue<string>("image"))))
            {
                image = Model.Content.GetPropertyValue("image").ToString();
            }
            string altText = "";
            if (Model.Content.HasValue("altText"))
            {
                altText = Model.Content.GetProperty("altText").Value.ToString();
            }
            string mainText = "";
            if (Model.Content.HasValue("mainText"))
            {
                mainText = Model.Content.GetProperty("mainText").Value.ToString();
            }
            string linkAddress = "";
            if (Model.Content.HasValue("linkAddress"))
            {
                linkAddress = Model.Content.GetPropertyValue("linkAddress").ToString();
            }
            <div class="left-content">
                <h1>@Model.Content.Name</h1>
                <h2>@subHeading</h2>
                <p><img style="width: 500px; height: 392px;" src="@image" alt="@altText" /></p>
                @Html.Raw(mainText)
                <a class="content-cta" href="@linkAddress" target="_blank">Book Online</a>

            </div>
        }

           
    <!-- /.left-content -->
    <div class="right-content">
        <div class="room-details">
            <h2></h2>
            <p></p>
        </div>
        @{
            string rightSubHeading = "";
            if (Model.Content.HasValue("rightSubHeading"))
            {
                rightSubHeading = Model.Content.GetProperty("rightSubHeading").Value.ToString();
            }
            string rightText = "";
            if (Model.Content.HasValue("rightText"))
            {
                rightText = Model.Content.GetProperty("rightText").Value.ToString();
            }
            string termsAndConditions = "";
            if (Model.Content.HasValue("termsAndConditions"))
            {
                termsAndConditions = Model.Content.GetProperty("termsAndConditions").Value.ToString();
            }

            <h2>@rightSubHeading</h2>
            @Html.Raw(rightText)
            <p><em>Terms &amp; Conditions</em></p>
            <p><em>@termsAndConditions</em></p>
        }
    </div>
    <!-- /.right-content -->
</div>
